@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text-primary {
  color: #2b82a1;
}

.text-scondary {
  color: #eb9004;
}

body {
  font-family: 'Open Sans';
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  line-height: 1.2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  opacity: 0.8;
  width: 100%;
  height: 120px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar a {
  padding: 10px 20px;
  transition-duration: 0.3s;
}

.navbar a:hover {
  border-bottom: #2b82a1 2px solid;
  background-color: #222;
  color: white;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.hero {
  width: 100%;
  color: white;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
}

.nowrap {
  white-space: nowrap;
}

.background-text {
  font-weight: bolder;
  height: min-content;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: clamp(85px, 25vw, 325px);
  letter-spacing: 5px;
}

.flexy {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content;
  gap: 3px;
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
  font-weight: 500;
}
.height-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
  margin: 0 5px;
  color: rgb(51, 51, 51);
  min-height: 100vh;
  margin-bottom: 10px;
}
main span {
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
}

.row-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

h3 {
  font-weight: normal;
}

main .card {
  font-size: clamp(1rem, 5vw, 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main .card img {
  width: 100%;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  main {
    margin: 0 15px;
  }
}
